[submodule "modules/hippo"]
	path = modules/hippo
	url = https://github.com/d0nghyun/hippo.git
[submodule "modules/pm-arkraft"]
	path = modules/pm-arkraft
	url = ssh://git@gitlab.quantit.io:2222/ark/arkraft/pm-arkraft.git
[submodule "modules/modeling"]
	path = modules/modeling
	url = https://github.com/Quantit-Github/modeling.git
[submodule "modules/arkraft-fe"]
	path = modules/arkraft-fe
	url = ssh://git@gitlab.quantit.io:2222/ark/arkraft/arkraft-fe.git
[submodule "modules/finter"]
	path = modules/finter
	url = ssh://git@gitlab.quantit.io:2222/ark/finter.git
[submodule "modules/arkraft"]
	path = modules/arkraft
	url = https://github.com/Quantit-Github/arkraft
[submodule "modules/arkraft-agent-report"]
	path = modules/arkraft-agent-report
	url = git@github.com:Quantit-Github/arkraft-agent-report.git
[submodule "modules/arkraft-jupyter"]
	path = modules/arkraft-jupyter
	url = git@github.com:Quantit-Github/arkraft-jupyter.git
