[submodule "modules/arkraft/pm-arkraft"]
	path = modules/arkraft/arkraft-agent-pm
	url = https://github.com/Quantit-Github/arkraft-agent-pm.git
[submodule "modules/arkraft/arkraft-jupyter"]
	path = modules/arkraft/arkraft-jupyter
	url = git@github.com:Quantit-Github/arkraft-jupyter.git
[submodule "modules/arkraft/arkraft-agent-report"]
	path = modules/arkraft/arkraft-agent-report
	url = git@github.com:Quantit-Github/arkraft-agent-report.git
[submodule "modules/arkraft-legacy/arkraft"]
	path = modules/arkraft-legacy/arkraft
	url = https://github.com/Quantit-Github/arkraft
[submodule "modules/arkraft-legacy/arkraft-fe"]
	path = modules/arkraft-legacy/arkraft-fe
	url = ssh://git@gitlab.quantit.io:2222/ark/arkraft/arkraft-fe.git
[submodule "modules/arkraft-legacy/finter"]
	path = modules/arkraft-legacy/finter
	url = ssh://git@gitlab.quantit.io:2222/ark/finter.git
[submodule "modules/arkraft/arkraft-agent-insight"]
	path = modules/arkraft/arkraft-agent-insight
	url = https://github.com/Quantit-Github/arkraft-agent-insight.git
[submodule "modules/arkraft/arkraft-deploy"]
	path = modules/arkraft/arkraft-deploy
	url = git@github.com:Quantit-Github/arkraft-deploy.git
[submodule "modules/arkraft/arkraft-worker"]
	path = modules/arkraft/arkraft-worker
	url = git@github.com:Quantit-Github/arkraft-worker.git
[submodule "modules/arkraft/arkraft-agent-signal"]
	path = modules/arkraft/arkraft-agent-signal
	url = https://github.com/Quantit-Github/arkraft-agent-signal.git
[submodule "modules/arkraft/arkraft-app"]
	path = modules/arkraft/arkraft-app
	url = git@github.com:Quantit-Github/arkraft-app.git
[submodule "modules/arkraft/ai-infra"]
	path = modules/arkraft/ai-infra
	url = git@github.com:Quantit-Github/ai-infra.git
